<main>
<!-- PORTFOLIO
================================================== -->
<section id="portfolio">
    <div class="container">
        <div class="row justify-content-center">
            <h3 class="text-center mt-5 mb-5 pt-5 wow fadeInDown yellow-text">Trabajos destacados</h3>
        </div>

        <div class="row">
            <div class="grid-item col-12 col-md-6 col-lg-4" *ngFor="let imagenes of _port.portfolioList; let i = index">
                <div class="card">
                    <a [routerLink]="['/trabajos',i]">
                        <img class="card-img-top wow fadeIn" [src]="imagenes.thumb" alt="meraki {{imagenes.client}}">
                    </a>
                    <div class="card-body text-center">
                        <h6 class="card-title wow fadeInUp">{{imagenes.client}} <br><small class="text-muted">{{imagenes.title}}</small></h6>
                        <p class="card-text text-muted wow fadeInUp">
                            <small *ngFor="let etiquetas of imagenes.tags">{{etiquetas}},&nbsp;&nbsp;</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
