<main>
<!-- PROJECT
================================================== -->
<section id="project">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-md-10 col-lg-8 pt-3">
                <!-- <img [src]="proyecto.images.uno" alt="" class="img-fluid"> -->
                <img [src]="imagenes" alt="" *ngFor="let imagenes of proyecto.images">
            </div>
            <div class="col-12 col-md-10 col-lg-4">
                <h3 class="text-center py-3 wow fadeInDown yellow-text">{{proyecto.client}}</h3>
                <h6 class="text-center text-muted">{{proyecto.title}}</h6>
                <p class="mb-5">{{proyecto.description}}</p>
                <p class="text-right mb-3">Categorías:
                    <a href="#" title="{{proyecto.tags}}">
                        <span class="badge badge-secondary">{{proyecto.tags}}</span>
                    </a>
                </p>
                <a [href]="proyecto.link" target="_blank" rel="external" *ngIf="proyecto.cta">
                    <button type="button" name="button" role="button" class="btn btn-meraki-outline btn-block">{{proyecto.cta}}</button>
                </a>
            </div>
        </div>
    </div>
</section>
</main>
