<main>
<!-- MEANING
================================================== -->
<section id="meaning" class="hero d-flex align-items-center">
    <div class="container my-5 my-md-0 pt-5 pt-md-0">
        <div class="row justify-content-center mb-3 mt-4 mt-md-0">
            <div class="col-12 col-md-8 col-lg-5 py-4 px-4 text-center words">
                <h6 class="wow fadeInUp"><span class="yellow-text">Icono:</span> representación visual de una idea.</h6>
                <h3><i class="fas fa-plus wow fadeInUp"></i></h3>
                <h6 class="wow fadeInUp">Sufijo <span class="yellow-text">-ica:</span> la ciencia de o relativo a.</h6>
                <h3 class="mb-0"><i class="fas fa-equals wow fadeInUp"></i></h3>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-12 col-md-9 col-lg-6 py-1 px-3 text-center" id="title">
                <h1 class="mb-0 wow fadeInUp" data-wow-delay="0.1s">ICONICA</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-5 py-4 px-4 text-center words">
                <h6 class="mb-0 wow fadeInUp" data-wow-delay="0.2s">La ciencia de transformar tus ideas en experiencias visuales.</h6>
            </div>
        </div>
    </div>
</section>


<!-- ABOUT
================================================== -->
<section id="about" class="d-flex align-items-center hero mt-3 mt-md-0">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-7" id="about-text">
                <h3 class="mb-3">¿Quiénes somos?</h3>
                <h6 class="wow fadeIn">Somos un estudio creativo especializado en proyectos de branding y producciones audiovisuales.</h6>
                <!-- <p class="wow fadeIn" data-wow-delay="0.1s">Ayudamos a pequeñas y medianas empresas a que su imagen trascienda y logre crear un impacto en las personas. Desde la concepción del nombre, hasta la creación de campañas de mercadotecnia, en Meraki hacemos todo para que tu marca luzca profesional.</p> -->
                <p class="wow fadeIn" data-wow-delay="0.1s">Ayudamos a pequeñas y medianas empresas a que su imagen trascienda y logre crear un impacto en las personas.</p>
                <blockquote class="blockquote text-center wow fadeIn" data-wow-delay="0.2s">
                    <p class="mb-0"><i class="fas fa-quote-left"></i> &nbsp; Transformamos ideas en experiencias visuales. &nbsp; <i class="fas fa-quote-right"></i></p>
                </blockquote>
            </div>
            <div class="col-12 col-md-5 d-none d-md-flex align-items-end hvr-float-shadow" id="about-image">
                <img src="assets/img/ui/iconica-raven.png" alt="iconica-raven" class="img-fluid wow fadeIn" data-wow-delay="0.1s">
            </div>
        </div>
    </div>
</section>
</main>
