<main>
<!-- INTRO
================================================== -->
<section id="intro" class="d-flex align-items-center" parallax [config]="{axis: 'y', speed: .3, initialValue: -70}">
    <div class="container">
        <div class="row">
            <div class="col col-md-5">
                <img src="assets/img/home/iconica-typo-black.png" alt="meraki-creative-studio" class="img-fluid wow fadeInDown mb-4" data-wow-delay="0.3s">
                <div id="divider" class="mt-3 mb-4 wow fadeInLeft" data-wow-delay="0.5s"></div>
                <h5 class="mb-3 wow fadeInLeft" data-wow-delay="0.6s">Somos un estudio creativo orgullosamente mexicano. Transformamos las ideas de startups, emprendedores y empresas en <strong>experiencias únicas.</strong></h5>
            </div>
        </div>
        <app-arrow></app-arrow>
    </div>
</section>


<!-- DESCRIPTION
================================================== -->
<section id="description" class="d-flex align-items-center hero mb-5 mb-md-0">
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-5">
                <h2 class="text-left wow fadeInLeft">Hablamos <h1>Diseño</h1></h2>
                <p class="text-left wow fadeInLeft yellow-text" data-wow-delay="0.1s">Nos especializamos en <strong class="pink-text">proyectos creativos de branding y producciones audiovisuales.</strong> Nos tomamos el tiempo para entender completamente tu negocio, producto o servicio; extraer su esencia y transmitirla de manera adecuada a las personas indicadas.</p>
                <!-- <p class="lead">Cambiando el mundo un diseño a la vez.</p> -->
            </div>
            <div class="col-12 offset-md-1 col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://player.vimeo.com/video/276061796?autoplay=0&color=FAAF41&portrait=0" class="embed-responsive-item wow fadeIn" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- SERVICES
================================================== -->
<section id="services" class="d-flex align-items-center hero">
    <div class="container">
        <div class="row justify-content-center">
            <h3 class="text-center mb-5 wow fadeInDown">¿A qué nos dedicamos?</h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card text-center">
                    <a [routerLink]="['/servicios','branding']" title="meraki-branding" pageScroll href="#branding">
                        <img class="card-img-top w-75 hvr-grow wow zoomIn" src="assets/img/home/branding.png" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <p class="card-text text-center wow fadeInUp">Reflejamos la esencia de tu marca en cada uno de sus elementos lingüísticos y visuales.</p>
                        <a [routerLink]="['/servicios','branding']" class="hvr-wobble-top" pageScroll href="#branding">
                            <img src="assets/img/ui/see-more-button.png" alt="meraki-creative-studio" class="img-fluid w-75 wow fadeIn" title="meraki-branding">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card text-center">
                    <a [routerLink]="['/servicios','startups']" title="meraki-start-ups" pageScroll href="#startups">
                        <img class="card-img-top w-75 hvr-grow wow zoomIn" src="assets/img/home/start-ups.png" alt="Card image cap" data-wow-delay="0.2s">
                    </a>
                    <div class="card-body">
                        <p class="card-text text-center wow fadeInUp">Creamos estrategias para generar la imagen de tu nueva empresa y hacerla crecer rápidamente.</p>
                        <a [routerLink]="['/servicios','startups']" class="hvr-wobble-top" pageScroll href="#startups">
                            <img src="assets/img/ui/see-more-button.png" alt="meraki-creative-studio" class="img-fluid w-75 wow fadeIn hvr-wobble-top" title="meraki-start-up">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card text-center">
                    <a [routerLink]="['/servicios','audiovisual']" title="meraki-edición-video" pageScroll href="#video">
                        <img class="card-img-top w-75 hvr-grow wow zoomIn" src="assets/img/home/edicion-video.png" alt="Card image cap" data-wow-delay="0.1s">
                    </a>
                    <div class="card-body">
                        <p class="card-text text-center wow fadeInUp">Contamos tu historia de manera atractiva a través de contenido multimedia y/o interactivo.</p>
                        <a [routerLink]="['/servicios','audiovisual']" class="hvr-wobble-top" pageScroll href="#video">
                            <img src="assets/img/ui/see-more-button.png" alt="meraki-creative-studio" class="img-fluid w-75 wow fadeIn hvr-wobble-top" title="meraki-edicion-video">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row d-none d-md-flex">
            <div class="col-12 col-md-4">
                <a [routerLink]="['/servicios','branding']">
                    <button class="btn btn-meraki btn-block wow fadeInLeft" role="button" type="button">Ver Más</button>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a [routerLink]="['/servicios','startups']">
                    <button class="btn btn-meraki btn-block wow fadeInUp" role="button" type="button">Ver Más</button>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a [routerLink]="['/servicios','audiovisual']">
                    <button class="btn btn-meraki btn-block wow fadeInRight" role="button" type="button">Ver Más</button>
                </a>
            </div>
        </div> -->
    </div>
</section>


<!-- ABOUT
================================================== -->
<!-- <section id="about" class="d-flex align-items-center hero">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-7" id="about-text">
                <h3 class="mb-3">¿Quiénes somos?</h3>
                <h6 class="wow fadeIn">Somos un estudio mexicano profesional de diseño gráfico y producción audiovisual.</h6>
                <p class="wow fadeIn" data-wow-delay="0.1s">Ayudamos a pequeñas y medianas empresas a que su imagen trascienda y logre crear un impacto en las personas.</p>
                <blockquote class="blockquote text-center wow fadeIn" data-wow-delay="0.2s">
                    <p class="mb-0"><i class="fas fa-quote-left"></i> &nbsp; Dedicación, pasión y creatividad en cada proyecto que elaboramos. &nbsp; <i class="fas fa-quote-right"></i></p>
                </blockquote>
            </div>
            <div class="col-12 col-md-5 d-flex align-items-center hvr-float-shadow" id="about-image">
                <div id="about-image-text">
                    <h4 class="text-center wow fadeInUp">MERAKI - μεράκι (Griego)</h4>
                    <p class="text-center wow fadeInUp" data-wow-delay="0.1s">Dedicación, alma, creatividad, pasión y amor por algo. La esencia de ti mismo reflejada en lo que haces.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->


<!-- PROJECTS
================================================== -->
<section id="instagram">
    <div class="container mb-5">
        <div class="row justify-content-center">
            <h4 class="mb-4 text-center wow fadeInDown">Icónica en Instagram</h4>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <iframe src="//lightwidget.com/widgets/028893358c595c7694971a73d195e588.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
            </div>
        </div>
    </div>
</section>


<!-- CLIENTS
================================================== -->
<section id="clients" class="d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <h4 class="mb-5 text-center wow fadeInDown">Empresas que confían en nosotros</h4>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-11 col-lg-10">
                <div class="row justify-content-center">
                    <div class="col-6 col-md-4 col-lg-3 text-center">
                        <img src="assets/img/home/customers/illutio.png" alt="illutio-logo" class="img-fluid mb-5 wow fadeIn hvr-grow w-75">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 text-center">
                        <img src="assets/img/home/customers/drone-race.png" alt="drone-race-logo" class="img-fluid mb-5 wow fadeIn hvr-grow" data-wow-delay="0.1s">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 text-center">
                        <img src="assets/img/home/customers/downeast-cowboy.png" alt="downeast-cowboy-logo" class="img-fluid mb-5 wow fadeIn hvr-grow" data-wow-delay="0.2s">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 text-center">
                        <img src="assets/img/home/customers/inatek.png" alt="inatek-logo" class="img-fluid mb-5 wow fadeIn hvr-grow w-75" data-wow-delay="0.4s">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 text-center">
                        <img src="assets/img/home/customers/tragh.png" alt="tragh-logo" class="img-fluid mb-5 wow fadeIn hvr-grow" data-wow-delay="0.3s">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 text-center">
                        <img src="assets/img/home/customers/estero.png" alt="estero-logo" class="img-fluid mb-5 wow fadeIn hvr-grow w-75" data-wow-delay="0.5s">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 text-center">
                        <img src="assets/img/home/customers/cintegran.png" alt="cintegran-logo" class="img-fluid mb-5 wow fadeIn hvr-grow w-75" data-wow-delay="0.6s">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3 text-center">
                        <img src="assets/img/home/customers/tierra-azteca.png" alt="tierra-azteca-logo" class="img-fluid mb-5 wow fadeIn hvr-grow w-75" data-wow-delay="0.7s">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- CONTACT
================================================== -->
<section id="contact" class="d-flex align-items-center hero">
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-4 col-lg-5" id="contact-info">
                <h4 class="display-4 wow fadeInDown mt-5 mt-md-0">¿Cuándo empezamos?</h4>
                <address class="wow fadeInLeft">
                    <a href="https://goo.gl/maps/PgvxJ4gERo42" target="_blank" rel="external">
                        <p><i class="fas fa-map-marker-alt fa-lg"></i> &nbsp; <span>{{_is.info.address1}}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{_is.info.address2}}<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{_is.info.address3}}</span></p>
                    </a>
                </address>
                <a href="tel:{{_is.info.phone}}">
                    <p class="wow fadeInLeft" data-wow-delay="0.1s"><i class="fas fa-phone fa-lg"></i> &nbsp; <span>{{_is.info.phoneFormat}}</span></p>
                </a>
                <a href="https://api.whatsapp.com/send?phone={{_is.info.cel}}">
                    <p class="wow fadeInLeft" data-wow-delay="0.2s"><i class="fab fa-whatsapp fa-lg"></i> &nbsp; <span>{{_is.info.celFormat}}</span></p>
                </a>
                <a href="mailto:{{_is.info.email}}">
                    <p class="wow fadeInLeft" data-wow-delay="0.3s"><i class="fas fa-envelope fa-lg"></i> &nbsp; <span>{{_is.info.email}}</span></p>
                </a>
                <!-- <a href="{{_is.info.messenger}}" class="wow fadeInLeft" data-wow-delay="0.1s">
                    <p><i class="fab fa-facebook-messenger fa-lg"></i> &nbsp; <span>Escríbenos un mensaje</span></p>
                </a> -->
            </div>
            <div class="col-12 col-md-8 col-lg-7 d-flex align-items-center justify-content-around" id="contact-image">
                <a [href]="_is.info.facebook" target="_blank" rel="external" title="meraki-facebook">
                    <i class="fab fa-facebook-square fa-4x wow fadeIn hvr-float"></i>
                </a>
                <a [href]="_is.info.instagram" target="_blank" rel="external" title="meraki-instagram">
                    <i class="fab fa-instagram fa-4x wow fadeIn hvr-float" data-wow-delay="0.1s"></i>
                </a>
                <a [href]="_is.info.pinterest" target="_blank" rel="external" title="meraki-pinterest">
                    <i class="fab fa-pinterest-square fa-4x wow fadeIn hvr-float" data-wow-delay="0.2s"></i>
                </a>
                <a [href]="_is.info.behance" target="_blank" rel="external" title="meraki-behance">
                    <i class="fab fa-behance-square fa-4x wow fadeIn hvr-float" data-wow-delay="0.3s"></i>
                </a>
                <a [href]="_is.info.linkedin" target="_blank" rel="external" title="meraki-linkedin">
                    <i class="fab fa-linkedin fa-4x wow fadeIn hvr-float" data-wow-delay="0.4s"></i>
                </a>
                <a [href]="_is.info.vimeo" target="_blank" rel="external" title="meraki-vimeo">
                    <i class="fab fa-vimeo-square fa-4x wow fadeIn hvr-float" data-wow-delay="0.5s"></i>
                </a>
            </div>
        </div>
    </div>
</section>
</main>
