<main>
<!-- NOT FOUND
================================================== -->
<section id="notfound">
    <!-- LG Screens-->
    <div class="d-none d-lg-block">
        <img src="assets/img/notfound/Ballena_Auto.png" alt="Ballena_Auto" class="img-fluid w-50 wow fadeInDown Ballena" data-wow-delay="0.4s">
        <img src="assets/img/notfound/EdificiosAzules.png" alt="EdificiosAzules" class="img-fluid w-75 building-animation EdificiosAzules">
        <img src="assets/img/notfound/Pasto.png" alt="Pasto" class="img-fluid w-75 Pasto">
        <img src="assets/img/notfound/EdificiosAmarillos.png" alt="EdificiosAmarillos" class="img-fluid w-75 wow fadeIn EdificiosAmarillos" data-wow-delay="0.2s">
        <img src="assets/img/notfound/Autos.png" alt="Autos" class="img-fluid w-75 Autos">
        <img src="assets/img/notfound/NinaBicicleta.png" alt="NinaBicicleta" class="img-fluid w-100 girl-animation wow fadeIn NinaBicicleta">
    </div>


    <!-- SM Screens-->
    <div class="d-block d-lg-none">
        <img src="assets/img/notfound/Ballena_Auto.png" alt="Ballena_Auto" class="img-fluid w-75 wow fadeInDown Ballena" data-wow-delay="0.4s">
        <img src="assets/img/notfound/EdificiosAzules.png" alt="EdificiosAzules" class="img-fluid w-100 building-animation EdificiosAzules">
        <img src="assets/img/notfound/Pasto.png" alt="Pasto" class="img-fluid w-100 Pasto">
        <img src="assets/img/notfound/EdificiosAmarillos.png" alt="EdificiosAmarillos" class="img-fluid w-100 wow fadeIn EdificiosAmarillos" data-wow-delay="0.2s">
        <img src="assets/img/notfound/Autos.png" alt="Autos" class="img-fluid w-100 Autos">
        <img src="assets/img/notfound/NinaBicicleta.png" alt="NinaBicicleta" class="img-fluid w-100 girl-animation wow fadeIn NinaBicicleta">
    </div>
    <h3 class="text-center wow fadeInUp" data-wow-delay="3s"><span class="yellow-text">Oops…</span> Ha ocurrido un error.</h3>
    <a [routerLink]="['']" pageScroll href="#intro" class="text-center">
        <button type="button" name="button" class="btn btn-iconica btn-lg wow fadeInUp" data-wow-delay="5s">volver al punto de partida</button>
    </a>
</section>
</main>
