<main>
<!-- BRANDING
================================================== -->
<section id="branding" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <h1 class="yellow-text mb-1 wow fadeInUp">Branding</h1>
                <p class="mb-4 wow fadeIn" data-wow-delay="0.1s">Branding es más que una imagen, es mostrarle a la gente quién eres y qué haces. Es un conjunto de herramientas que hacen de tu marca una experiencia única para tus clientes. Nosotros te ayudamos a moldear a tu medida esas experiencias.</p>
                <h3 class="wow fadeInUp" data-wow-delay="0.2s">Servicios</h3>
                <ul class="fa-ul" data-wow-delay="0.3s">
                    <li class="wow fadeInUp" data-wow-delay="0.4s"><span class="fa-li"><i class="fas fa-circle yellow-text"></i></span>Diseño de Logotipo</li>
                    <li class="wow fadeInUp" data-wow-delay="0.5s"><span class="fa-li"><i class="fas fa-circle yellow-text"></i></span>Estrategia de Branding</li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s"><span class="fa-li"><i class="fas fa-circle yellow-text"></i></span>Estrategia de Marketing Digital</li>
                    <li class="wow fadeInUp" data-wow-delay="0.7s"><span class="fa-li"><i class="fas fa-circle yellow-text"></i></span>Diseño Web, Hosting y Dominio</li>
                </ul>
            </div>
            <div class="col-12 col-lg-5 hvr-bob">
                <img src="assets/img/home/branding.png" alt="meraki-branding" class="img-fluid wow fadeIn">
            </div>
        </div>
        <app-arrow></app-arrow>
    </div>
</section>


<!-- BRANDING DESCRIPTION
================================================== -->
<section id="description">
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 mt-5 mb-3">
                <p class="text-center wow fadeIn lead">Buscamos formar <strong class="yellow-text">relaciones largas</strong> con todas las personas con las que trabajamos y transmitir un poco de la filosofía emprendedora para crear un red de negocios que sea de ayuda para todos.</p>
            </div>
            <div class="col-12 col-md-10 col-lg-8 description-box mb-4">
                <p class="text-center wow fadeInUp">Queremos que tu primer acercamiento con un estudio de diseño sea una <strong>buena experiencia.</strong> Como estudio creativo estamos muy acostumbrados al uso de la tecnología, pero creemos que la <strong>comunicación frente a frente</strong> es la mejor herramienta que tenemos para intercambiar ideas; es por eso que nuestro primer contacto será personal, para sentarnos a platicar y conocer más a fondo sobre tu idea.</p>
            </div>
        </div>
        <app-contact-button></app-contact-button>
    </div>
</section>
</main>
