<app-pixels></app-pixels>
<main>
<!-- BRANDING
================================================== -->
<section id="branding" class="hero d-flex align-items-center">
    <div class="container mt-5 mt-lg-0 pt-5 pt-lg-0">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-5">
                <h1 class="yellow-text mb-1 wow fadeInUp">Branding</h1>
                <p class="mb-4 wow fadeIn" data-wow-delay="0.1s">Branding es más que una imagen, es mostrarle a la gente quién eres y qué haces. Es un conjunto de herramientas que hacen de tu marca una experiencia única para tus clientes. Nosotros te ayudamos a moldear a tu medida esas experiencias.</p>
                <h3 class="wow fadeInUp" data-wow-delay="0.2s">Servicios</h3>
                <ul class="fa-ul" data-wow-delay="0.3s">
                    <li class="wow fadeInUp" data-wow-delay="0.4s"><span class="fa-li"><i class="fas fa-circle yellow-text"></i></span>Diseño de Logotipo</li>
                    <li class="wow fadeInUp" data-wow-delay="0.5s"><span class="fa-li"><i class="fas fa-circle yellow-text"></i></span>Estrategia de Branding</li>
                    <li class="wow fadeInUp" data-wow-delay="0.6s"><span class="fa-li"><i class="fas fa-circle yellow-text"></i></span>Estrategia de Marketing Digital</li>
                    <li class="wow fadeInUp" data-wow-delay="0.7s"><span class="fa-li"><i class="fas fa-circle yellow-text"></i></span>Diseño Web, Hosting y Dominio</li>
                </ul>
            </div>
            <div class="col-10 offset-1 offset-md-3 col-md-6 col-lg-5 offset-lg-0 hvr-bob">
                <img src="assets/img/home/branding.png" alt="iconica-branding" class="img-fluid wow fadeIn">
            </div>
        </div>
        <app-arrow class="d-none d-lg-block"></app-arrow>
    </div>
</section>


<!-- BRANDING DESCRIPTION
================================================== -->
<section id="description">
    <div class="container mb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 mt-5 mb-3">
                <p class="text-center wow fadeIn lead">Nuestro objetivo es ayudarte a desarrollar la identidad corporativa que logre <strong class="yellow-text">transmitir la visión que quieres compartir</strong> al público.</p>
                <!-- <p class="text-center wow fadeIn lead">Buscamos formar <strong class="yellow-text">relaciones largas</strong> con todas las personas con las que trabajamos y transmitir un poco de la filosofía emprendedora para crear un red de negocios que sea de ayuda para todos.</p> -->
            </div>
            <div class="col-12 col-md-10 col-lg-8 description-box mb-4">
                <p class="text-center wow fadeInUp">Queremos que tu empresa crezca y tenga una identidad para que las personas reconozcan tu marca como un sinónimo de calidad y de buen servicio. Con gusto te ayudaremos a <strong>mostrar la visión de tu empresa hacia tus clientes.</strong></p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10 col-md-6 col-lg-4">
                <app-contact-button></app-contact-button>
            </div>
        </div>
    </div>
</section>
</main>
