<main>
<!-- PROJECT
================================================== -->
<section id="project">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">

            </div>
            <div class="col-12 col-md-10 col-lg-4">
                <h3 class="text-center mt-5 py-3 wow fadeInDown yellow-text">{{proyecto.client}}</h3>
                <h6 class="text-center text-muted">{{proyecto.title}}</h6>
                <p class="mb-3">{{proyecto.description}}</p>
                <p class="text-right mb-3">Categorías: {{proyecto.tags}}</p>
                <a [href]="proyecto">
                    <button type="button" name="button" role="button" class="btn btn-meraki">Descargar Juego</button>
                </a>
            </div>
        </div>
    </div>
</section>
</main>
