<main>
<!-- FIRST SECTION
================================================== -->
<section id="logo1">
    <img src="assets/img/logo/part-1/Ciudad-2.png" alt="Ciudad-2" id="ciudad" class="wow fadeIn" data-wow-delay="0.1s">
    <div class="overlay d-block d-md-none"></div>
    <div class="container">
        <div class="row justify-content-center mt-3 mt-lg-5">
            <div class="col-10 col-md-8 col-lg-7">
                <img src="assets/img/logo/part-1/clouds.png" alt="clouds" class="img-fluid w-100">
            </div>
        </div>
        <div class="row justify-content-end mt-4 mt-lg-5 mb-4 mb-lg-0">
            <div class="col-12 col-md-4 col-lg-5 text-right">
                <h1 class="wow fadeInRight" data-wow-delay="0.2s"></h1>
                <a href="mailto:contacto@iconica.mx">
                    <button type="button" name="button" class="btn btn-iconica mb-4 wow fadeInRight" data-wow-delay="0.3s"><h4 class="mb-0 px-2 py-2"></h4></button>
                </a>
                <h6 class="wow fadeInRight" data-wow-delay="0.4s">OFERTA ESPECIAL POR ANIVERSARIO.<br>* Te regalamos un millar de tarjetas de presentación con tu nuevo logo.</h6>
            </div>
        </div>
    </div>
    <i class="fas fa-angle-double-down fa-3x arrow-animation"></i>
</section>


<!-- SECOND SECTION
================================================== -->
<section id="logo2">
    <div class="container">
        <div class="row justify-content-center mt-4 mb-5">
            <h1 class="text-center wow fadeInUp" data-wow-delay="0.2s">CONOCE NUESTRO TRABAJO</h1>
        </div>
        <div class="row justify-content-center d-flex align-items-center">
            <div class="col-12 col-md-6 col-lg-4">
                <img src="assets/img/logo/part-2/mocks/foodbox.jpg" alt="foodbox" class="img-fluid wow fadeInUp" data-wow-delay="0.3s">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <img src="assets/img/logo/part-2/mocks/coffee.png" alt="coffee" class="img-fluid wow fadeInUp" data-wow-delay="0.5s">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <img src="assets/img/logo/part-2/mocks/t-shirt.jpg" alt="t-shirt" class="img-fluid wow fadeInUp" data-wow-delay="0.4s">
                <img src="assets/img/logo/part-2/mocks/beer.jpg" alt="beer" class="img-fluid wow fadeInUp" data-wow-delay="0.6s">
            </div>
        </div>
    </div>
    <img src="assets/img/logo/part-2/peces.png" alt="peces" id="peces" class="wow fadeIn">
</section>


<!-- THIRD SECTION
================================================== -->
<section id="logo3" class="d-flex align-items-center">
    <img src="assets/img/logo/part-3/peces.png" alt="peces" id="peces" class="wow fadeIn">
    <div class="container">
        <div class="row justify-content-center text-center mb-5 pb-5">
            <div class="col-110 col-md-8 col-lg-6">
                <img src="assets/img/logo/part-3/title.png" alt="title" class="img-fluid mb-2 wow fadeInUp" data-wow-delay="0.2s">
                <a href="mailto:contacto@iconica.mx">
                    <button type="button" name="button" class="btn btn-white-outline mb-3 wow fadeInUp" data-wow-delay="0.3s"><h4 class="mb-0 px-2 py-2">Envíanos un correo</h4></button>
                </a>
                <a href="tel:7226560428">
                    <button type="button" name="button" class="btn btn-white-outline wow fadeInUp" data-wow-delay="0.4s"><h4 class="mb-0 px-2 py-2">O llámanos</h4></button>
                </a>
            </div>
        </div>
    </div>
</section>
</main>
