<!-- FOOTER
================================================== -->
<footer>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 col-md-6 col-lg-4 order-2 order-lg-1">
                <h6>General</h6>
                <ul>
                    <li><a [routerLink]="['/inicio']">Inicio</a></li>
                    <li><a [routerLink]="['/trabajos']">Trabajos</a></li>
                    <li><a [routerLink]="['/acerca']">Acerca</a></li>
                    <li><a [routerLink]="['/contacto']">Contacto</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-6 col-lg-4 order-3 order-lg-2">
                <h6>Servicios</h6>
                <ul>
                    <li><a [routerLink]="['/servicios','branding']">Branding</a></li>
                    <li><a [routerLink]="['/servicios','startups']">StartUps</a></li>
                    <li><a [routerLink]="['/servicios','audiovisual']">Producción Audiovisual</a></li>
                </ul>
            </div>
            <div class="col-11 col-md-8 col-lg-4 order-1 order-lg-3 mb-4">
                <h6>Síguenos</h6>
                <div class="row justify-content-between">
                    <a [href]="_is.info.facebook" target="_blank" rel="external" title="meraki-facebook">
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </a>
                    <a [href]="_is.info.instagram" target="_blank" rel="external" title="meraki-instagram">
                        <i class="fab fa-instagram fa-2x"></i>
                    </a>
                    <a [href]="_is.info.pinterest" target="_blank" rel="external" title="meraki-pinterest">
                        <i class="fab fa-pinterest-square fa-2x"></i>
                    </a>
                    <a [href]="_is.info.behance" target="_blank" rel="external" title="meraki-behance">
                        <i class="fab fa-behance-square fa-2x"></i>
                    </a>
                    <a [href]="_is.info.linkedin" target="_blank" rel="external" title="meraki-linkedin">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                    <a [href]="_is.info.vimeo" target="_blank" rel="external" title="meraki-vimeo">
                        <i class="fab fa-vimeo-square fa-2x"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-6 order-2 order-md-1">
                <p class="mt-3 text-center text-md-left">&copy; 2018 MERAKI CREATIVE STUDIO. Todos los derechos reservados.</p>
            </div>
            <div class="col-12 col-md-10 col-lg-6 text-center text-md-right order-1 order-md-2">
                <ul class="list-inline">
                    <li class="list-inline-item mx-3"><a [routerLink]="['/privacidad']">Aviso de Privacidad</a></li>
                    <li class="list-inline-item mx-3"><a [routerLink]="['/sitemap']">Mapa del Sitio</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
